name: Deploy Student Portal

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      # -------------------------
      # Setup SSH Key
      # -------------------------
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      # -------------------------
      # Upload only changed files
      # -------------------------
      - name: Deploy via rsync
        run: |
          rsync -avz --delete \
            -e "ssh -i ~/.ssh/id_ed25519" \
            dist/ \
            ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/home/deploy/student-build/

      # -------------------------
      # Move into nginx directory
      # -------------------------
      - name: Move files into Nginx directory
        run: |
          ssh -i ~/.ssh/id_ed25519 ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "
            sudo rm -rf /var/www/student/* &&
            sudo cp -r /home/deploy/student-build/* /var/www/student/ &&
            sudo chown -R www-data:www-data /var/www/student
          "
